In [ ]:
cd /content/drive/My Drive/zsdata

/content/drive/My Drive/zsdata

In [ ]:
import os
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('dataset/train_file.csv')
df_test = pd.read_csv('dataset/test_file.csv')

In [ ]:
df.drop(['IDLink','PublishDate','Source'],axis=1,inplace=True)

In [ ]:
import re
import nltk
import inflect 
nltk.download("stopwords")
nltk.download('punkt')
nltk.download('wordnet')
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
from string import punctuation
import string

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

In [ ]:
def clean_text(text):
    
    ## Remove puncuation
    text = text.translate(string.punctuation)
    
    ## Convert words to lower case and split them
    text = text.lower().split()
    new_string = [] 
    p = inflect.engine() 
    for word in text: 
        # if word is a digit, convert the digit 
        # to numbers and append into the new_string list 
        if word.isdigit(): 
            temp = p.number_to_words(word) 
            new_string.append(temp) 
  
        # append the word as it is 
        else: 
            new_string.append(word)
    text = new_string
    # Remove stop words
    stops = set(stopwords.words("english"))
    text = [w for w in text if not w in stops and len(w) >= 3]
    
    text = " ".join(text)
    ## Clean the text
    text = re.sub(r"[^A-Za-z0-9^,!.\/'+-=]", " ", text)
    text = re.sub(r"what's", "what is ", text)
    text = re.sub(r"\'s", " ", text)
    text = re.sub(r"\'ve", " have ", text)
    text = re.sub(r"n't", " not ", text)
    text = re.sub(r"i'm", "i am ", text)
    text = re.sub(r"\'re", " are ", text)
    text = re.sub(r"\'d", " would ", text)
    text = re.sub(r"\'ll", " will ", text)
    text = re.sub(r",", " ", text)
    text = re.sub(r"\.", " ", text)
    text = re.sub(r"!", " ", text)
    text = re.sub(r"\/", " ", text)
    text = re.sub(r"\^", " ", text)
    text = re.sub(r"\+", " ", text)
    text = re.sub(r"\-", " ", text)
    text = re.sub(r"\=", " ", text)
    text = re.sub(r"'", " ", text)
    # text = re.sub(r"(\d+)(k)", r"\g<1>000", text)
    text = re.sub(r":", " ", text)
    text = re.sub(r" e g ", " eg ", text)
    text = re.sub(r" b g ", " bg ", text)
    text = re.sub(r" u s ", " american ", text)
    text = re.sub(r"\0s", "0", text)
    text = re.sub(r" 9 11 ", "911", text)
    text = re.sub(r"e - mail", "email", text)
    text = re.sub(r"j k", "jk", text)
    text = re.sub(' +', ' ', text) 
    
    # text = re.sub(r"\s{2,}", " ", text)
    # Stemming
    text = text.split()
    stemmer = SnowballStemmer('english')
    stemmed_words = [stemmer.stem(word) for word in text]
    text = " ".join(stemmed_words)

    # lemmatizer=WordNetLemmatizer()
    # text=word_tokenize(text)
    # lemma = [lemmatizer.lemmatize(word) for word in text]
    # text = " ".join(lemma)
    return text

In [ ]:
df['Headline']=df['Headline'].apply(clean_text)
df['Title']=df['Title'].apply(clean_text)

In [ ]:
title_sent = df['Title'].tolist()
head_sent = df['Headline'].tolist()
senti_title = df['SentimentTitle'].tolist()
senti_head = df['SentimentHeadline'].tolist()

In [ ]:
df_test['Headline']=df_test['Headline'].apply(clean_text)
df_test['Title']=df_test['Title'].apply(clean_text)

In [ ]:
title_sent_test = df_test['Title'].tolist()
head_sent_test = df_test['Headline'].tolist()

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression

In [ ]:
title_texts_train=df['Title'].astype(str)
title_texts_test=df_test['Title'].astype(str)

In [ ]:
word_vectorizer = TfidfVectorizer(
    sublinear_tf=True,
    strip_accents='unicode',
    analyzer='word',
    token_pattern=r'\w{1,}',
    stop_words='english',
    ngram_range=(1, 1),
    max_features=5000)

In [ ]:
full_tfidf_word_title=word_vectorizer.fit_transform(df['Title'].values.tolist() + df_test['Title'].values.tolist())
train_tfidf_word_title = word_vectorizer.transform(df['Title'].values.tolist())
test_tfidf_word_title = word_vectorizer.transform(df_test['Title'].values.tolist())

In [ ]:
full_tfidf_word_head=word_vectorizer.fit_transform(df['Headline'].values.tolist() + df_test['Headline'].values.tolist())
train_tfidf_word_head = word_vectorizer.transform(df['Headline'].values.tolist())
test_tfidf_word_head = word_vectorizer.transform(df_test['Headline'].values.tolist())

In [ ]:
df=df.reset_index()
df_test=df_test.reset_index()

In [ ]:
from sklearn.decomposition import TruncatedSVD

In [ ]:
n_comp_title = 10
svd_obj_title = TruncatedSVD(n_components=n_comp_title, algorithm='arpack')
svd_obj_title.fit(full_tfidf_word_title)
train_svd_word_title = pd.DataFrame(svd_obj_title.transform(train_tfidf_word_title))
test_svd_word_title = pd.DataFrame(svd_obj_title.transform(test_tfidf_word_title))
    
train_svd_word_title.columns = ['svd_word_title_'+str(i) for i in range(n_comp_title)]
test_svd_word_title.columns = ['svd_word_title_'+str(i) for i in range(n_comp_title)]
df = pd.concat([df, train_svd_word_title], axis=1)
df_test = pd.concat([df_test, test_svd_word_title], axis=1)

In [ ]:
n_comp_head = 20
svd_obj_head = TruncatedSVD(n_components=n_comp_head, algorithm='arpack')
svd_obj_head.fit(full_tfidf_word_head)
train_svd_word_head = pd.DataFrame(svd_obj_head.transform(train_tfidf_word_head))
test_svd_word_head = pd.DataFrame(svd_obj_head.transform(test_tfidf_word_head))
    
train_svd_word_head.columns = ['svd_word_head_'+str(i) for i in range(n_comp_head)]
test_svd_word_head.columns = ['svd_word_head_'+str(i) for i in range(n_comp_head)]
df = pd.concat([df, train_svd_word_head], axis=1)
df_test = pd.concat([df_test, test_svd_word_head], axis=1)

In [ ]:
# df.head()

   index  ... svd_word_head_19
0      0  ...         0.021584
1      1  ...        -0.030983
2      2  ...        -0.023478
3      3  ...         0.035306
4      4  ...         0.058854

[5 rows x 39 columns]

In [ ]:
# train_y = pd.concat([df['SentimentTitle'], df['SentimentHeadline']], axis=1)
train_y_t = df['SentimentTitle']
train_y_h = df['SentimentHeadline']

In [ ]:
train=df.drop(['index','Title','Headline','Facebook','GooglePlus','LinkedIn','SentimentTitle','SentimentHeadline'],axis=1)
# test=df_test.drop(['IDLink','PublishDate','Source','index','Title','Headline'],axis=1)

In [ ]:
# train.head()

     Topic  svd_word_title_0  ...  svd_word_head_18  svd_word_head_19
0    obama          0.069942  ...         -0.028990          0.021584
1  economy          0.170616  ...         -0.018073         -0.030983
2  economy          0.367370  ...          0.025362         -0.023478
3  economy          0.019095  ...          0.005955          0.035306
4  economy          0.089519  ...         -0.028436          0.058854

[5 rows x 31 columns]

In [ ]:
test=df_test.drop(['IDLink','PublishDate','Source','index','Title','Headline','Facebook','GooglePlus','LinkedIn'],axis=1)

In [ ]:
# test.head()

       Topic  svd_word_title_0  ...  svd_word_head_18  svd_word_head_19
0    economy          0.138004  ...         -0.105594          0.088549
1  microsoft          0.063667  ...         -0.025532          0.049646
2  microsoft          0.069247  ...         -0.019967          0.041294
3    economy          0.123790  ...          0.014791         -0.014809
4    economy          0.094539  ...          0.017434          0.003892

[5 rows x 31 columns]

In [ ]:
topic_map = {'obama':1, 'economy':2,'microsoft':3,'palestine':4}

train['Topic'] = train['Topic'].map(topic_map)
test['Topic'] = test['Topic'].map(topic_map)

In [ ]:
import lightgbm as lgb

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
model_t = lgb.LGBMRegressor(boosting_type='gbdt', objective='regression', num_leaves=1200,
                    learning_rate=0.05, n_estimators=1000, max_depth=12,
                    metric='rmse', bagging_fraction=0.8, feature_fraction=0.8, reg_lambda=0.9)

In [ ]:
parameters = {'n_estimators':[1000,1200],'learning_rate':[0.1,0.05,0.01]}

In [ ]:
clf_t = GridSearchCV(model_t, parameters)

In [ ]:
clf_t.fit(train,train_y_t)

GridSearchCV(cv=None, error_score=nan,
             estimator=LGBMRegressor(bagging_fraction=0.8, boosting_type='gbdt',
                                     class_weight=None, colsample_bytree=1.0,
                                     feature_fraction=0.8,
                                     importance_type='split',
                                     learning_rate=0.05, max_depth=12,
                                     metric='rmse', min_child_samples=20,
                                     min_child_weight=0.001, min_split_gain=0.0,
                                     n_estimators=1000, n_jobs=-1,
                                     num_leaves=1200, objective='regression',
                                     random_state=None, reg_alpha=0.0,
                                     reg_lambda=0.9, silent=True, subsample=1.0,
                                     subsample_for_bin=200000,
                                     subsample_freq=0),
             iid='deprecated', n_jobs=None,
             param_grid={'learning_rate': [0.1, 0.05, 0.01],
                         'n_estimators': [1000, 1200]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [ ]:
# model_t.fit(train,train_y_t)

LGBMRegressor(bagging_fraction=0.8, boosting_type='gbdt', class_weight=None,
              colsample_bytree=1.0, feature_fraction=0.8,
              importance_type='split', learning_rate=0.05, max_depth=12,
              metric='rmse', min_child_samples=20, min_child_weight=0.001,
              min_split_gain=0.0, n_estimators=1000, n_jobs=-1, num_leaves=1200,
              objective='regression', random_state=None, reg_alpha=0.0,
              reg_lambda=0.9, silent=True, subsample=1.0,
              subsample_for_bin=200000, subsample_freq=0)

In [ ]:
model_h = lgb.LGBMRegressor(boosting_type='gbdt', objective='regression', num_leaves=1200,
                    learning_rate=0.05, n_estimators=1000, max_depth=12,
                    metric='rmse', bagging_fraction=0.8, feature_fraction=0.8, reg_lambda=0.9)

In [ ]:
clf_h = GridSearchCV(model_h, parameters)

In [ ]:
# model_h.fit(train,train_y_h)
clf_h.fit(train,train_y_t)

GridSearchCV(cv=None, error_score=nan,
             estimator=LGBMRegressor(bagging_fraction=0.8, boosting_type='gbdt',
                                     class_weight=None, colsample_bytree=1.0,
                                     feature_fraction=0.8,
                                     importance_type='split',
                                     learning_rate=0.05, max_depth=12,
                                     metric='rmse', min_child_samples=20,
                                     min_child_weight=0.001, min_split_gain=0.0,
                                     n_estimators=1000, n_jobs=-1,
                                     num_leaves=1200, objective='regression',
                                     random_state=None, reg_alpha=0.0,
                                     reg_lambda=0.9, silent=True, subsample=1.0,
                                     subsample_for_bin=200000,
                                     subsample_freq=0),
             iid='deprecated', n_jobs=None,
             param_grid={'learning_rate': [0.1, 0.05, 0.01],
                         'n_estimators': [1000, 1200]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [ ]:
# pred_t=model_t.predict(test)
pred_t=clf_t.predict(test)

In [ ]:
pred_h=clf_h.predict(test)

In [ ]:
testtemp = pd.read_csv('dataset/test_file.csv')

In [ ]:
# testtemp.head()

       IDLink  ... LinkedIn
0  tFrqIR6Chj  ...        1
1  DVAaGErjlF  ...       13
2  OT9UIZm5M2  ...        0
3  lflGp3q2Fj  ...        3
4  zDYG0SoovZ  ...        0

[5 rows x 9 columns]

In [ ]:
submissions=pd.DataFrame(columns=['IDLink','SentimentTitle','SentimentHeadline'])
submissions['IDLink'] = testtemp['IDLink']
submissions['SentimentTitle'] = pred_t
submissions['SentimentHeadline'] = pred_h

In [ ]:
submissions.to_csv('submission5.csv',index=False)

In [ ]:
# sub = pd.read_csv('submission2.csv')

In [ ]:
# sub.head()

       IDLink  SentimentTitle  SentimentHeadline
0  tFrqIR6Chj       -0.010385          -0.025498
1  DVAaGErjlF        0.011471           0.034969
2  OT9UIZm5M2       -0.055839          -0.035383
3  lflGp3q2Fj       -0.005483          -0.037457
4  zDYG0SoovZ       -0.038516          -0.075608

In [ ]:
# suniv = pd.read_csv('submission3.csv')

In [ ]:
# suniv.head()

       IDLink  SentimentTitle  SentimentHeadline
0  tFrqIR6Chj        0.012229           0.009446
1  DVAaGErjlF        0.002380           0.037517
2  OT9UIZm5M2       -0.000316          -0.027790
3  lflGp3q2Fj       -0.010996          -0.042243
4  zDYG0SoovZ       -0.049601          -0.032183

In [ ]:
# meanz=pd.DataFrame(columns=['IDLink','SentimentTitle','SentimentHeadline'])
# meanz['IDLink'] = testtemp['IDLink']
# meanz['SentimentTitle'] = 0.6*sub['SentimentTitle']+0.4*suniv['SentimentTitle']
# meanz['SentimentHeadline'] = 0.6*sub['SentimentHeadline']+0.4*suniv['SentimentHeadline']

In [ ]:
# meanz.to_csv('submission4.csv',index=False)